<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Login</title>
</head>
<%- include('navbar') %>
<body>
  <main>
    <h3>User Login</h3>
    <div>
      <label>Don't have an account? &#128073</label>
      <a href="/users/register">Register</a>
    </div>
    <form action="/users/login" method="POST">
      <div>
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="example@gmail.com"
        />
      </div>
      <div>
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="password"
        />
      </div>
      <button type="submit" class=>Login</button>
    </form>
  </main>
</body>
</html>
