<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/new.css" />
  <title>User Login</title>
</head>
<%- include('navbar') %>
<body>
  <main>
    <div class="functional">
    <h3 >User Login</h3>
    <form action="/users/login" method="POST">
      <div class="email">
        <input
          type="email"
          name="email"
          id="email"
          placeholder="example@gmail.com"
        />
      </div>
      <div class="password">
        <input
          type="password"
          name="password"
          id="password"
          placeholder="password"
        />
      </div>
      <button type="submit" class="submit">Login</button>
      <p>New to Maps? Register  <a href="/users/register" class="red">Here</a></p>
    </form>
    </div>
    <div class="graphical">
       <img class="logo-large" src="https://github.com/angelren1220/LHL-group-3-Wiki-Map/blob/kades-branch/docs/maps_icon.png?raw=true" alt="logo">
      <p class="y">Create and explore user made maps!</p>
    </div>
  </main>
</body>
</html>
