<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Map</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/maps_list.css" />
  <link rel="stylesheet" href="/styles/maps.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>

  <!-- <script type="module" defer src="/scripts/new_map.js"></script> -->
</head>
<%- include('navbar') %>
<body>
  <!-- form for map creation -->
  <div class="map-form">
  <h3>Add a new map</h1>
  <form action="/maps/new" method="POST">
    <div class="add-map">
      <label class="form-label">Map Name</label>
      <input
        type="text"
        name="name"
        placeholder="map name"
      />
    </div>
    <button type="submit" class="submit">Add</button>
  </form>

  </div>
</body>
</html>
