<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maps</title>
</head>
<body>
  <h1>Maps</h1>
  <ol>
    <li><img src ="../docs/map1.png"></li>
    <li><img src ="../docs/map2.png"></li>
    <li><img src ="../docs/map3.png"></li>
  </ol>
</body>
</html>
