<header>
  <link rel="stylesheet" href="/styles/navbar.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <nav>
    <div class ="nav_links">
      <a href="/"><img class="logo" src="https://github.com/angelren1220/LHL-group-3-Wiki-Map/blob/kades-branch/docs/maps_icon.png?raw=true" alt="logo"></a>
      <% if (user) { %>
        <form action="/users/logout" method="POST" class="logout-button">
          <label for="email">Hello!</label>
          <button type="submit" class="logout">Logout</button>
        </form>
        <a href="/maps/new" class="header-link">New Map</a>
        <a href="/maps/pins/new" class="header-link">New Pin</a>
        <% } else { %>
          <a href="/users/login" class="header-link">Login</a>
          <a href="/users/register" class="header-link">Register</a>
          <% } %>
          <a href="/maps/list" class="header-link">Maps List</a>
    </div>
    <script>
$(document).ready(function() {
  $('a, button').mouseover(function() {
    const element = $(this);
    element.addClass('hover');
  });
  $('a, button').mouseout(function() {
    const element = $(this);
    element.removeClass('hover');
  });
});
    </script>
  </nav>
</header>
