<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Map</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/maps.css" />
  <link rel="stylesheet" href="/styles/maps_list.css" />
  <script src="/vendor/jquery-3.0.0.js"></script>

</head>
<%- include('navbar') %>
<body>
  <h3>Pins List</h3>
  <div id="pins"></div>
  <!-- pins -->
  <div class="pin-form">
  <h3>Add a new pin</h3>
  <form action="/maps/pins/new" method="POST" class="new-pin-form">
    <div class="add-pin">
      <label class="pin-label">Map Id</label>
      <input
        type="number"
        name="map_id"
        placeholder="map id"
        class="pin-input"
      />
    </div>
    <div class="add-pin">
      <label class="pin-label">Latitude</label>
      <input
        type="number"
        name="lat"
        step=".01"
        placeholder="233.33"
        class="pin-input"
      />
    </div>
    <div class="add-pin">
      <label class="pin-label">Longitude</label>
      <input
        type="number"
        name="lng"
        step=".01"
        placeholder="233.33"
        class="pin-input"
      />
    </div>
    <div class="add-pin">
      <label class="pin-label">Pin Name</label>
      <input
        type="text"
        name="name"
        placeholder="pin name"
        class="pin-input"
      />
    </div>
    <div class="add-pin description">
      <label class="pin-label">Description</label>
      <textarea placeholder="Description" name="description" cols="30" rows="10"></textarea>
    </div>
    <div class="add-pin">
      <label class="pin-label">Image URL</label>
      <input
        type="text"
        name="image_url"
        placeholder="http://"
        class="pin-input"
      />
    </div>
    <button type="submit" class="submit">Add</button>
  </form>
  </div>
</body>
</html>
