<link rel="stylesheet" href="/styles/slider.css" />

 <!-- Slideshow container -->
 <div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="https://github.com/angelren1220/LHL-group-3-Wiki-Map/blob/master/docs/map2.png?raw=true"
      style="width:100%" class="g">
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="https://github.com/angelren1220/LHL-group-3-Wiki-Map/blob/master/docs/uluru_screenshot.png?raw=true"
      style="width:100%" class="g">
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="https://github.com/angelren1220/LHL-group-3-Wiki-Map/blob/master/docs/map3.png?raw=true"
      style="width:100%" class="g">
  </div>
