.map_area {
  margin-top: 110px;
}

#map {
  height: 40em;
  width: 90%;
  border-radius: 10px;
  border: solid #136F63 5px;
}

.pin-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pin-text {
  display: flex;
  flex-direction: column;
}

.pin-img {
  width: 20em;
  height: 20em;
  margin-left: 2%;
  margin-bottom: 3%;
  align-self: flex-end;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
  min-height: 100vh;
  padding-top: 110px ;
  background-color: #fff5d8;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}

.page-header{
color: #136F63;
font-size: 50px;
}



.map-form{
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-map{
  display:flex;
  margin-bottom: 10px;
  align-items: center;
}

.submit{
  background-color: #136F63;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  width: 15%;
  height: 35px;
  border: none;
  border-radius: 5px;
}

input{
  border: 3px solid #136F63;
  border-radius: 15px;
  padding-bottom: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  width: 40%;
  min-width: 160px;
  background-color: beige;
  line-height: 15px;
}

.form-label{
  font-size: 30px;
  color:#136F63;
}

@media (max-width: 768px) {
  .add-map{
    flex-direction: column;
  }
  .submit{
    background-color: #136F63;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    min-width: 30%;
    height: 35px;
    border: none;
    border-radius: 5px;
  }
}
