.map_area {
  margin-top: 110px;
}

#map {
  height: 40em;
  width: 90%;
  border-radius: 10px;
  border: solid #136F63 5px;
}

.pin-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pin-text {
  display: flex;
  flex-direction: column;
}

.pin-img {
  width: 20em;
  height: 20em;
  margin-left: 2%;
  margin-bottom: 3%;
  align-self: flex-end;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  min-height: 100vh;
  background-color: #fff5d8;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}

.page-header{
color: #136F63;
font-size: 50px;
}
