header {
  margin: 0;
  padding: 0;
}

nav{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  justify-content: space-between;
  flex-direction: row;
  background-color: #136F63;
  z-index: 1;
}

.nav_links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1% 6% 0% 6%;
}


a{
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}


img.logo {
  width: 70px;
}

.hover {
  color: #d6a05e;
}

.logout-button{
  background-color: #136F63;
  border: solid white 3px;
  border-radius: 10px;
  color: white;
  font-family: sans-serif;
  font-size: 25px;
}

label{
  color: white;
  font-family: sans-serif;
  font-size: 25px;
  padding-right: 10px;
}
