
.map_pin_edit{
  display: flex;
  background-color: #136F63;
  color:white;
  font-family: sans-serif;
  border: none;
  border-radius: 5px;
  font-size: 15px ;
  order:3;
  align-items: center;
  text-decoration:none ;
}

#map_pin_edit{
  display: flex;
  background-color: #136F63;
  color:white;
  font-family: sans-serif;
  border: none;
  border-radius: 5px;
  font-size: 15px ;
  order:3;
  align-items: center;
}

#map_pin_edit:hover{
  color: orange;
}

.pin-title{
  order:1;
  display: flex;
  justify-content: flex-start;
  color:#136F63;
  font-size: 40px;
  margin: 10px;
}

.pin-description{
  order:2;
  color:#136F63;
  background-color: white;
  border-radius: 4px ;
  border: solid #136F63 1px;
  font-size: 18px;
  box-shadow: inset 5px 5px 27px 3px lightgray;
  margin: auto;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

.pin-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: start;
}

.pin-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color:beige;
  border-radius: 5px;
}

.pin-img {
  order:4;
  width: 20em;
  height: 20em;
  margin: 10px;
  align-self: flex-end;
  border: solid #136F63 2px;
  border-radius: 10px;
}

.map_pin_edit{
  display:flex;
  align-items: flex-end;
  height: 20px;
  padding: 2px;
}

.new-pin-form{
  display: flex;
  flex-direction: column;
  font-style:#136F63;
}

.add-pin{
  display: flex;
  justify-content: flex-start;
  align-items: space-between;
  padding-bottom: 5px;
}
.pin-label{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #136F63;
  font-size: 25px;
}

.pin-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color:#136F63;
  font-size: 30px;
  
}

.new-pin-form{
  display: flex;
  align-items: flex-start;

}

.pin-input{
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  width:70%;
  align-self:flex-end;
}

.submit
{align-self: center;}
